hairLength long short medium 
hairColor green black red orange blue white brown 
glasses full-frame normal none 
facialHair lots average none 
eyeColor green blue hazel black red 
hat big small average 
faceShape square oval triangle round 
height tall short average 
weight heavy light average 
pimples lots average some none 

P1
hairLength short
hairColor white
glasses full-frame
facialHair none
eyeColor green
hat small
faceShape round
height short
weight average
pimples average

P2
hairLength short
hairColor brown
glasses none
facialHair lots
eyeColor red
hat big
faceShape triangle
height tall
weight light
pimples some

P3
hairLength medium
hairColor red
glasses normal
facialHair average
eyeColor blue
hat big
faceShape oval
height tall
weight average
pimples lots

P4
hairLength medium
hairColor black
glasses none
facialHair none
eyeColor black
hat small
faceShape triangle
height average
weight light
pimples lots

P5
hairLength medium
hairColor orange
glasses none
facialHair average
eyeColor black
hat small
faceShape oval
height short
weight heavy
pimples some

P6
hairLength medium
hairColor red
glasses full-frame
facialHair average
eyeColor green
hat average
faceShape square
height average
weight average
pimples none

P7
hairLength long
hairColor black
glasses none
facialHair lots
eyeColor black
hat small
faceShape round
height tall
weight light
pimples none

P8
hairLength long
hairColor black
glasses full-frame
facialHair lots
eyeColor hazel
hat small
faceShape triangle
height short
weight average
pimples none

P9
hairLength short
hairColor blue
glasses none
facialHair average
eyeColor black
hat big
faceShape round
height tall
weight average
pimples lots

P10
hairLength short
hairColor white
glasses normal
facialHair lots
eyeColor blue
hat big
faceShape square
height tall
weight light
pimples some

P11
hairLength medium
hairColor blue
glasses none
facialHair none
eyeColor green
hat big
faceShape square
height short
weight heavy
pimples lots

P12
hairLength short
hairColor brown
glasses none
facialHair none
eyeColor blue
hat average
faceShape oval
height tall
weight light
pimples some

P13
hairLength medium
hairColor brown
glasses none
facialHair none
eyeColor red
hat average
faceShape triangle
height tall
weight heavy
pimples none

P14
hairLength medium
hairColor green
glasses full-frame
facialHair lots
eyeColor blue
hat big
faceShape oval
height average
weight average
pimples lots

P15
hairLength short
hairColor white
glasses full-frame
facialHair average
eyeColor red
hat average
faceShape round
height short
weight heavy
pimples lots

P16
hairLength medium
hairColor green
glasses none
facialHair lots
eyeColor green
hat small
faceShape triangle
height short
weight heavy
pimples lots

P17
hairLength medium
hairColor brown
glasses normal
facialHair average
eyeColor blue
hat big
faceShape round
height average
weight heavy
pimples lots

P18
hairLength short
hairColor white
glasses none
facialHair average
eyeColor black
hat average
faceShape square
height average
weight heavy
pimples none

P19
hairLength medium
hairColor red
glasses none
facialHair none
eyeColor red
hat average
faceShape round
height short
weight light
pimples none

P20
hairLength medium
hairColor green
glasses full-frame
facialHair average
eyeColor black
hat small
faceShape round
height short
weight average
pimples lots

P21
hairLength short
hairColor white
glasses normal
facialHair lots
eyeColor red
hat big
faceShape oval
height tall
weight light
pimples lots

P22
hairLength medium
hairColor blue
glasses full-frame
facialHair none
eyeColor black
hat average
faceShape triangle
height short
weight average
pimples none

P23
hairLength short
hairColor orange
glasses none
facialHair average
eyeColor blue
hat big
faceShape triangle
height tall
weight average
pimples none

P24
hairLength long
hairColor red
glasses normal
facialHair lots
eyeColor black
hat small
faceShape oval
height average
weight light
pimples none

P25
hairLength short
hairColor white
glasses full-frame
facialHair average
eyeColor black
hat small
faceShape triangle
height tall
weight average
pimples average

P26
hairLength long
hairColor red
glasses full-frame
facialHair none
eyeColor black
hat big
faceShape square
height tall
weight heavy
pimples average

P27
hairLength medium
hairColor brown
glasses none
facialHair average
eyeColor red
hat average
faceShape triangle
height average
weight average
pimples some

P28
hairLength medium
hairColor red
glasses none
facialHair lots
eyeColor red
hat big
faceShape oval
height short
weight average
pimples some

P29
hairLength medium
hairColor blue
glasses none
facialHair average
eyeColor blue
hat small
faceShape oval
height tall
weight heavy
pimples none

P30
hairLength long
hairColor orange
glasses normal
facialHair average
eyeColor green
hat average
faceShape oval
height tall
weight heavy
pimples lots

P31
hairLength short
hairColor red
glasses normal
facialHair lots
eyeColor red
hat big
faceShape oval
height short
weight average
pimples lots

P32
hairLength long
hairColor brown
glasses normal
facialHair lots
eyeColor hazel
hat big
faceShape round
height short
weight light
pimples none

P33
hairLength long
hairColor white
glasses normal
facialHair lots
eyeColor green
hat average
faceShape oval
height average
weight average
pimples lots

P34
hairLength short
hairColor orange
glasses none
facialHair none
eyeColor hazel
hat big
faceShape triangle
height short
weight heavy
pimples some

P35
hairLength medium
hairColor green
glasses full-frame
facialHair average
eyeColor hazel
hat small
faceShape oval
height short
weight average
pimples lots

P36
hairLength short
hairColor brown
glasses none
facialHair none
eyeColor black
hat small
faceShape round
height short
weight heavy
pimples average

P37
hairLength short
hairColor orange
glasses normal
facialHair none
eyeColor red
hat big
faceShape square
height average
weight light
pimples average

P38
hairLength short
hairColor green
glasses none
facialHair average
eyeColor green
hat average
faceShape triangle
height short
weight light
pimples average

P39
hairLength short
hairColor red
glasses none
facialHair average
eyeColor green
hat average
faceShape triangle
height tall
weight heavy
pimples lots

P40
hairLength medium
hairColor orange
glasses none
facialHair lots
eyeColor green
hat small
faceShape round
height tall
weight average
pimples none

P41
hairLength long
hairColor blue
glasses full-frame
facialHair average
eyeColor red
hat big
faceShape square
height average
weight light
pimples none

P42
hairLength short
hairColor black
glasses normal
facialHair average
eyeColor black
hat small
faceShape square
height short
weight heavy
pimples none

P43
hairLength medium
hairColor green
glasses normal
facialHair average
eyeColor hazel
hat big
faceShape oval
height tall
weight light
pimples average

P44
hairLength medium
hairColor green
glasses normal
facialHair average
eyeColor black
hat small
faceShape round
height tall
weight light
pimples average

P45
hairLength medium
hairColor green
glasses normal
facialHair none
eyeColor hazel
hat big
faceShape square
height average
weight light
pimples average

P46
hairLength medium
hairColor brown
glasses none
facialHair average
eyeColor hazel
hat small
faceShape round
height average
weight average
pimples average

P47
hairLength medium
hairColor white
glasses none
facialHair none
eyeColor red
hat big
faceShape round
height short
weight heavy
pimples some

P48
hairLength short
hairColor brown
glasses none
facialHair lots
eyeColor hazel
hat small
faceShape round
height tall
weight heavy
pimples average

P49
hairLength short
hairColor orange
glasses full-frame
facialHair none
eyeColor green
hat small
faceShape round
height average
weight heavy
pimples lots

P50
hairLength medium
hairColor red
glasses none
facialHair lots
eyeColor green
hat average
faceShape square
height short
weight light
pimples lots

P51
hairLength long
hairColor brown
glasses none
facialHair average
eyeColor green
hat small
faceShape oval
height short
weight light
pimples average

P52
hairLength short
hairColor red
glasses normal
facialHair lots
eyeColor blue
hat big
faceShape round
height short
weight light
pimples some

P53
hairLength long
hairColor blue
glasses none
facialHair none
eyeColor black
hat big
faceShape oval
height short
weight average
pimples some

P54
hairLength short
hairColor black
glasses full-frame
facialHair lots
eyeColor black
hat big
faceShape square
height average
weight average
pimples average

P55
hairLength long
hairColor red
glasses none
facialHair average
eyeColor blue
hat big
faceShape oval
height tall
weight light
pimples some

P56
hairLength medium
hairColor orange
glasses normal
facialHair lots
eyeColor black
hat big
faceShape round
height tall
weight heavy
pimples none

P57
hairLength medium
hairColor brown
glasses full-frame
facialHair average
eyeColor green
hat big
faceShape triangle
height short
weight heavy
pimples none

P58
hairLength short
hairColor white
glasses normal
facialHair lots
eyeColor red
hat big
faceShape square
height average
weight average
pimples some

P59
hairLength short
hairColor black
glasses normal
facialHair lots
eyeColor hazel
hat big
faceShape round
height average
weight average
pimples average

P60
hairLength short
hairColor red
glasses full-frame
facialHair lots
eyeColor black
hat average
faceShape oval
height tall
weight average
pimples none

P61
hairLength medium
hairColor white
glasses full-frame
facialHair none
eyeColor red
hat average
faceShape square
height tall
weight light
pimples lots

P62
hairLength medium
hairColor green
glasses normal
facialHair lots
eyeColor black
hat average
faceShape square
height average
weight heavy
pimples average

P63
hairLength medium
hairColor blue
glasses full-frame
facialHair average
eyeColor blue
hat big
faceShape oval
height average
weight average
pimples average

P64
hairLength short
hairColor black
glasses none
facialHair none
eyeColor green
hat small
faceShape round
height short
weight light
pimples average

P65
hairLength medium
hairColor red
glasses normal
facialHair lots
eyeColor red
hat small
faceShape triangle
height average
weight light
pimples average

P66
hairLength long
hairColor black
glasses normal
facialHair none
eyeColor black
hat average
faceShape triangle
height short
weight average
pimples lots

P67
hairLength medium
hairColor white
glasses full-frame
facialHair lots
eyeColor black
hat big
faceShape square
height tall
weight light
pimples lots

P68
hairLength medium
hairColor red
glasses normal
facialHair lots
eyeColor hazel
hat big
faceShape square
height average
weight heavy
pimples some

P69
hairLength short
hairColor brown
glasses none
facialHair lots
eyeColor black
hat average
faceShape round
height tall
weight light
pimples none

P70
hairLength medium
hairColor blue
glasses full-frame
facialHair lots
eyeColor red
hat average
faceShape oval
height average
weight heavy
pimples none

P71
hairLength medium
hairColor white
glasses none
facialHair lots
eyeColor hazel
hat small
faceShape square
height average
weight light
pimples lots

P72
hairLength medium
hairColor brown
glasses normal
facialHair average
eyeColor hazel
hat small
faceShape round
height tall
weight heavy
pimples average

P73
hairLength medium
hairColor red
glasses normal
facialHair lots
eyeColor blue
hat average
faceShape triangle
height short
weight light
pimples lots

P74
hairLength long
hairColor blue
glasses none
facialHair none
eyeColor black
hat average
faceShape triangle
height average
weight heavy
pimples some

P75
hairLength short
hairColor blue
glasses none
facialHair none
eyeColor red
hat average
faceShape triangle
height short
weight average
pimples lots

P76
hairLength short
hairColor blue
glasses normal
facialHair average
eyeColor blue
hat big
faceShape triangle
height average
weight average
pimples none

P77
hairLength long
hairColor brown
glasses full-frame
facialHair lots
eyeColor blue
hat small
faceShape square
height tall
weight light
pimples average

P78
hairLength long
hairColor black
glasses none
facialHair average
eyeColor green
hat big
faceShape round
height average
weight light
pimples none

P79
hairLength long
hairColor orange
glasses none
facialHair none
eyeColor red
hat small
faceShape square
height tall
weight average
pimples average

P80
hairLength short
hairColor brown
glasses none
facialHair average
eyeColor hazel
hat small
faceShape round
height average
weight light
pimples some

P81
hairLength medium
hairColor green
glasses none
facialHair average
eyeColor blue
hat average
faceShape oval
height average
weight heavy
pimples some

P82
hairLength long
hairColor blue
glasses full-frame
facialHair none
eyeColor green
hat average
faceShape oval
height short
weight light
pimples average

P83
hairLength long
hairColor orange
glasses full-frame
facialHair lots
eyeColor black
hat average
faceShape triangle
height average
weight heavy
pimples none

P84
hairLength long
hairColor black
glasses none
facialHair none
eyeColor black
hat big
faceShape square
height average
weight average
pimples average

P85
hairLength long
hairColor blue
glasses none
facialHair none
eyeColor red
hat average
faceShape round
height short
weight average
pimples average

P86
hairLength medium
hairColor orange
glasses full-frame
facialHair none
eyeColor hazel
hat big
faceShape oval
height short
weight average
pimples lots

P87
hairLength medium
hairColor white
glasses full-frame
facialHair lots
eyeColor hazel
hat average
faceShape oval
height average
weight light
pimples some

P88
hairLength short
hairColor black
glasses full-frame
facialHair none
eyeColor green
hat small
faceShape round
height tall
weight light
pimples lots

P89
hairLength medium
hairColor orange
glasses normal
facialHair average
eyeColor blue
hat small
faceShape round
height average
weight heavy
pimples lots

P90
hairLength short
hairColor green
glasses full-frame
facialHair lots
eyeColor hazel
hat small
faceShape triangle
height average
weight average
pimples some

P91
hairLength long
hairColor brown
glasses normal
facialHair lots
eyeColor blue
hat big
faceShape triangle
height average
weight heavy
pimples some

P92
hairLength medium
hairColor red
glasses none
facialHair none
eyeColor red
hat small
faceShape round
height tall
weight average
pimples some

P93
hairLength short
hairColor black
glasses normal
facialHair lots
eyeColor hazel
hat big
faceShape square
height short
weight heavy
pimples average

P94
hairLength long
hairColor blue
glasses none
facialHair lots
eyeColor blue
hat small
faceShape square
height tall
weight average
pimples none

P95
hairLength long
hairColor black
glasses normal
facialHair none
eyeColor black
hat average
faceShape oval
height tall
weight heavy
pimples lots

P96
hairLength short
hairColor white
glasses normal
facialHair none
eyeColor red
hat big
faceShape round
height average
weight light
pimples none

P97
hairLength medium
hairColor red
glasses normal
facialHair lots
eyeColor green
hat average
faceShape round
height average
weight light
pimples none

P98
hairLength long
hairColor red
glasses full-frame
facialHair none
eyeColor blue
hat small
faceShape triangle
height average
weight light
pimples average

P99
hairLength short
hairColor red
glasses normal
facialHair none
eyeColor hazel
hat big
faceShape oval
height tall
weight heavy
pimples lots

P100
hairLength short
hairColor orange
glasses full-frame
facialHair none
eyeColor red
hat big
faceShape oval
height tall
weight heavy
pimples none

P101
hairLength medium
hairColor orange
glasses normal
facialHair average
eyeColor blue
hat big
faceShape oval
height tall
weight heavy
pimples average

P102
hairLength long
hairColor black
glasses none
facialHair lots
eyeColor black
hat small
faceShape square
height tall
weight average
pimples some

P103
hairLength medium
hairColor red
glasses none
facialHair none
eyeColor green
hat small
faceShape square
height short
weight average
pimples lots

P104
hairLength medium
hairColor red
glasses normal
facialHair lots
eyeColor black
hat average
faceShape square
height average
weight average
pimples none

P105
hairLength short
hairColor red
glasses full-frame
facialHair lots
eyeColor hazel
hat average
faceShape round
height tall
weight light
pimples lots

P106
hairLength medium
hairColor green
glasses normal
facialHair none
eyeColor red
hat small
faceShape oval
height short
weight heavy
pimples lots

P107
hairLength long
hairColor orange
glasses full-frame
facialHair none
eyeColor blue
hat average
faceShape triangle
height tall
weight light
pimples average

P108
hairLength short
hairColor blue
glasses full-frame
facialHair lots
eyeColor black
hat average
faceShape round
height average
weight heavy
pimples lots

P109
hairLength long
hairColor brown
glasses normal
facialHair lots
eyeColor black
hat big
faceShape oval
height tall
weight heavy
pimples lots

P110
hairLength short
hairColor red
glasses none
facialHair lots
eyeColor black
hat small
faceShape triangle
height tall
weight heavy
pimples average

P111
hairLength short
hairColor brown
glasses normal
facialHair none
eyeColor green
hat small
faceShape triangle
height average
weight light
pimples none

P112
hairLength short
hairColor black
glasses full-frame
facialHair lots
eyeColor red
hat big
faceShape triangle
height tall
weight average
pimples average

P113
hairLength medium
hairColor brown
glasses full-frame
facialHair none
eyeColor hazel
hat big
faceShape round
height tall
weight light
pimples some

P114
hairLength medium
hairColor white
glasses none
facialHair lots
eyeColor blue
hat big
faceShape square
height average
weight heavy
pimples none

P115
hairLength short
hairColor red
glasses normal
facialHair none
eyeColor red
hat big
faceShape oval
height tall
weight heavy
pimples some

P116
hairLength short
hairColor green
glasses full-frame
facialHair average
eyeColor blue
hat small
faceShape round
height short
weight heavy
pimples lots

P117
hairLength long
hairColor blue
glasses none
facialHair average
eyeColor black
hat small
faceShape round
height short
weight heavy
pimples some

P118
hairLength short
hairColor brown
glasses normal
facialHair average
eyeColor green
hat average
faceShape square
height average
weight average
pimples lots

P119
hairLength short
hairColor orange
glasses full-frame
facialHair lots
eyeColor red
hat average
faceShape round
height short
weight heavy
pimples none

P120
hairLength long
hairColor orange
glasses none
facialHair average
eyeColor blue
hat small
faceShape triangle
height tall
weight heavy
pimples none

P121
hairLength short
hairColor red
glasses full-frame
facialHair none
eyeColor green
hat average
faceShape triangle
height tall
weight average
pimples lots

P122
hairLength short
hairColor blue
glasses none
facialHair average
eyeColor green
hat small
faceShape round
height average
weight heavy
pimples none

P123
hairLength long
hairColor orange
glasses none
facialHair average
eyeColor red
hat small
faceShape oval
height tall
weight average
pimples some

P124
hairLength long
hairColor black
glasses full-frame
facialHair lots
eyeColor blue
hat big
faceShape round
height average
weight average
pimples some

P125
hairLength long
hairColor white
glasses full-frame
facialHair lots
eyeColor black
hat small
faceShape square
height tall
weight heavy
pimples none

P126
hairLength short
hairColor orange
glasses none
facialHair average
eyeColor hazel
hat average
faceShape oval
height tall
weight average
pimples some

P127
hairLength long
hairColor red
glasses full-frame
facialHair lots
eyeColor hazel
hat big
faceShape oval
height average
weight light
pimples none

P128
hairLength medium
hairColor white
glasses normal
facialHair lots
eyeColor red
hat small
faceShape round
height tall
weight heavy
pimples none

P129
hairLength medium
hairColor brown
glasses none
facialHair average
eyeColor hazel
hat small
faceShape triangle
height tall
weight heavy
pimples lots

P130
hairLength long
hairColor green
glasses full-frame
facialHair average
eyeColor blue
hat small
faceShape round
height tall
weight average
pimples some

P131
hairLength short
hairColor black
glasses normal
facialHair lots
eyeColor green
hat big
faceShape round
height tall
weight light
pimples average

P132
hairLength short
hairColor brown
glasses full-frame
facialHair lots
eyeColor blue
hat average
faceShape oval
height tall
weight average
pimples lots

P133
hairLength medium
hairColor green
glasses full-frame
facialHair average
eyeColor black
hat small
faceShape square
height short
weight heavy
pimples none

P134
hairLength short
hairColor brown
glasses none
facialHair none
eyeColor red
hat small
faceShape round
height short
weight heavy
pimples some

P135
hairLength long
hairColor black
glasses none
facialHair average
eyeColor red
hat average
faceShape triangle
height tall
weight light
pimples some

P136
hairLength medium
hairColor black
glasses none
facialHair average
eyeColor hazel
hat average
faceShape square
height short
weight light
pimples none

P137
hairLength short
hairColor white
glasses full-frame
facialHair none
eyeColor blue
hat average
faceShape square
height tall
weight heavy
pimples none

P138
hairLength long
hairColor orange
glasses full-frame
facialHair none
eyeColor green
hat small
faceShape round
height tall
weight average
pimples none

P139
hairLength medium
hairColor black
glasses full-frame
facialHair lots
eyeColor black
hat average
faceShape oval
height short
weight average
pimples lots

P140
hairLength long
hairColor white
glasses normal
facialHair none
eyeColor red
hat average
faceShape oval
height short
weight light
pimples lots

P141
hairLength medium
hairColor black
glasses none
facialHair none
eyeColor hazel
hat big
faceShape square
height short
weight heavy
pimples lots

P142
hairLength long
hairColor orange
glasses normal
facialHair lots
eyeColor blue
hat small
faceShape round
height short
weight light
pimples average

P143
hairLength medium
hairColor brown
glasses normal
facialHair average
eyeColor black
hat small
faceShape triangle
height average
weight average
pimples some

P144
hairLength short
hairColor brown
glasses normal
facialHair average
eyeColor hazel
hat average
faceShape square
height short
weight average
pimples some

P145
hairLength long
hairColor orange
glasses none
facialHair none
eyeColor hazel
hat small
faceShape oval
height average
weight average
pimples none

P146
hairLength medium
hairColor blue
glasses full-frame
facialHair lots
eyeColor blue
hat average
faceShape oval
height tall
weight heavy
pimples lots

P147
hairLength short
hairColor brown
glasses full-frame
facialHair none
eyeColor hazel
hat average
faceShape oval
height average
weight heavy
pimples lots

P148
hairLength long
hairColor red
glasses none
facialHair lots
eyeColor black
hat big
faceShape square
height short
weight light
pimples some

P149
hairLength medium
hairColor orange
glasses none
facialHair average
eyeColor green
hat average
faceShape oval
height average
weight average
pimples some

P150
hairLength short
hairColor green
glasses normal
facialHair average
eyeColor blue
hat average
faceShape round
height average
weight heavy
pimples none

P151
hairLength long
hairColor white
glasses none
facialHair none
eyeColor black
hat small
faceShape round
height average
weight light
pimples some

P152
hairLength long
hairColor orange
glasses normal
facialHair lots
eyeColor green
hat average
faceShape square
height average
weight light
pimples average

P153
hairLength long
hairColor blue
glasses none
facialHair none
eyeColor blue
hat small
faceShape round
height tall
weight average
pimples lots

P154
hairLength short
hairColor orange
glasses full-frame
facialHair none
eyeColor red
hat small
faceShape square
height short
weight heavy
pimples average

P155
hairLength short
hairColor blue
glasses none
facialHair average
eyeColor hazel
hat small
faceShape square
height tall
weight light
pimples some

P156
hairLength medium
hairColor black
glasses normal
facialHair average
eyeColor red
hat big
faceShape square
height average
weight heavy
pimples lots

P157
hairLength medium
hairColor red
glasses none
facialHair average
eyeColor blue
hat small
faceShape oval
height short
weight light
pimples some

P158
hairLength medium
hairColor blue
glasses normal
facialHair none
eyeColor red
hat big
faceShape triangle
height tall
weight average
pimples lots

P159
hairLength medium
hairColor blue
glasses full-frame
facialHair average
eyeColor hazel
hat big
faceShape oval
height short
weight heavy
pimples lots

P160
hairLength medium
hairColor blue
glasses none
facialHair none
eyeColor green
hat big
faceShape oval
height tall
weight heavy
pimples some

P161
hairLength short
hairColor orange
glasses none
facialHair lots
eyeColor black
hat big
faceShape oval
height average
weight average
pimples average

P162
hairLength long
hairColor green
glasses normal
facialHair average
eyeColor hazel
hat small
faceShape triangle
height average
weight heavy
pimples average

P163
hairLength medium
hairColor white
glasses full-frame
facialHair lots
eyeColor red
hat average
faceShape round
height short
weight light
pimples lots

P164
hairLength medium
hairColor white
glasses none
facialHair none
eyeColor black
hat average
faceShape triangle
height short
weight light
pimples none

P165
hairLength medium
hairColor brown
glasses none
facialHair none
eyeColor green
hat big
faceShape oval
height short
weight light
pimples some

P166
hairLength medium
hairColor black
glasses normal
facialHair none
eyeColor red
hat small
faceShape triangle
height tall
weight heavy
pimples none

P167
hairLength medium
hairColor green
glasses normal
facialHair none
eyeColor red
hat small
faceShape square
height short
weight average
pimples lots

P168
hairLength long
hairColor brown
glasses normal
facialHair none
eyeColor green
hat small
faceShape square
height average
weight average
pimples none

P169
hairLength long
hairColor red
glasses normal
facialHair average
eyeColor black
hat average
faceShape square
height tall
weight light
pimples none

P170
hairLength medium
hairColor blue
glasses normal
facialHair lots
eyeColor green
hat big
faceShape triangle
height short
weight light
pimples average

P171
hairLength medium
hairColor white
glasses normal
facialHair lots
eyeColor green
hat average
faceShape round
height average
weight heavy
pimples average

P172
hairLength short
hairColor orange
glasses none
facialHair lots
eyeColor hazel
hat big
faceShape square
height tall
weight average
pimples some

P173
hairLength long
hairColor orange
glasses full-frame
facialHair none
eyeColor red
hat average
faceShape oval
height tall
weight heavy
pimples lots

P174
hairLength long
hairColor red
glasses full-frame
facialHair average
eyeColor hazel
hat big
faceShape oval
height tall
weight light
pimples some

P175
hairLength short
hairColor brown
glasses full-frame
facialHair lots
eyeColor green
hat big
faceShape square
height short
weight average
pimples none

P176
hairLength short
hairColor blue
glasses none
facialHair average
eyeColor red
hat average
faceShape oval
height short
weight average
pimples average

P177
hairLength short
hairColor brown
glasses normal
facialHair average
eyeColor black
hat big
faceShape square
height average
weight light
pimples none

P178
hairLength medium
hairColor black
glasses normal
facialHair average
eyeColor blue
hat big
faceShape square
height short
weight light
pimples average

P179
hairLength long
hairColor green
glasses normal
facialHair none
eyeColor hazel
hat average
faceShape square
height average
weight light
pimples average

P180
hairLength short
hairColor red
glasses full-frame
facialHair none
eyeColor red
hat big
faceShape round
height tall
weight heavy
pimples average

P181
hairLength medium
hairColor blue
glasses normal
facialHair none
eyeColor black
hat big
faceShape oval
height average
weight heavy
pimples average

P182
hairLength long
hairColor blue
glasses full-frame
facialHair average
eyeColor black
hat small
faceShape oval
height tall
weight heavy
pimples lots

P183
hairLength medium
hairColor red
glasses none
facialHair average
eyeColor black
hat big
faceShape triangle
height short
weight heavy
pimples some

P184
hairLength medium
hairColor orange
glasses full-frame
facialHair average
eyeColor green
hat big
faceShape square
height average
weight average
pimples lots

P185
hairLength short
hairColor blue
glasses normal
facialHair average
eyeColor blue
hat average
faceShape round
height short
weight heavy
pimples average

P186
hairLength short
hairColor brown
glasses normal
facialHair none
eyeColor hazel
hat big
faceShape oval
height average
weight heavy
pimples none

P187
hairLength short
hairColor brown
glasses none
facialHair average
eyeColor blue
hat big
faceShape oval
height tall
weight light
pimples some

P188
hairLength medium
hairColor red
glasses normal
facialHair none
eyeColor green
hat small
faceShape oval
height average
weight heavy
pimples average

P189
hairLength medium
hairColor orange
glasses full-frame
facialHair none
eyeColor blue
hat small
faceShape round
height tall
weight light
pimples some

P190
hairLength medium
hairColor blue
glasses normal
facialHair average
eyeColor hazel
hat average
faceShape oval
height short
weight average
pimples lots

P191
hairLength long
hairColor green
glasses full-frame
facialHair lots
eyeColor green
hat small
faceShape oval
height average
weight average
pimples none

P192
hairLength short
hairColor black
glasses full-frame
facialHair average
eyeColor blue
hat big
faceShape round
height tall
weight light
pimples some

P193
hairLength short
hairColor brown
glasses none
facialHair lots
eyeColor green
hat small
faceShape square
height tall
weight light
pimples some

P194
hairLength long
hairColor orange
glasses none
facialHair none
eyeColor green
hat average
faceShape square
height tall
weight average
pimples none

P195
hairLength long
hairColor white
glasses normal
facialHair none
eyeColor hazel
hat average
faceShape square
height average
weight heavy
pimples average

P196
hairLength long
hairColor red
glasses normal
facialHair none
eyeColor hazel
hat average
faceShape oval
height average
weight average
pimples some

P197
hairLength long
hairColor orange
glasses none
facialHair lots
eyeColor blue
hat average
faceShape oval
height tall
weight average
pimples some

P198
hairLength short
hairColor red
glasses full-frame
facialHair none
eyeColor red
hat big
faceShape square
height average
weight light
pimples average

P199
hairLength medium
hairColor white
glasses none
facialHair lots
eyeColor black
hat average
faceShape round
height tall
weight average
pimples average

P200
hairLength long
hairColor green
glasses none
facialHair none
eyeColor red
hat big
faceShape square
height average
weight average
pimples some

